.page {
    text-align: center;
}

.page h2{
    font-size: 3rem;
    display: inline;
    border-bottom: 3px solid black;
}

.page .cards{
    display: flex;
    margin-top: 50px;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.last{
    text-align: center;
    font-size: 5rem;
}
.last button{
    font-size: 5rem;
    background-color: rgba(68, 68, 148, 0.534);
    border-radius: 10px;
    color: white;
    transition: 0.4s;
}

.last button:hover{
    background-color: black;
    cursor: pointer;
}